* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header-title {
    display: inline-block;
    font-size: 48px;
}
/* Changing colour in seo letters in title heading Horiseon */
.seo-title {
    color: #d9dcd6; 
}

/* Navigation bar CSS */
.navigation, nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

.navigation {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Central image */
.big-top-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Section with main articles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Section with boxes aside on the right */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Single aside item */
.benefit-single {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Aside item heading */
.benefit-h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Aside item image */
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Arrticle image */
.article-img {
    max-height: 200px;
}
/* Article heading */
.article-h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer heading */
.footer-heading {
    font-size: 20px;
}
